* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background:#1a1a1a;
}

.container {
    background:white;
    margin:5rem auto;
    width:30rem;
    height:15rem;
    border-radius:7px;
    border: 1px solid #ff7300;
    text-align:center;
}

.container > h1 {
    text-align:center;

}


button {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:1rem;
    margin:1rem;
    cursor:pointer;
    transition: ease-in-out 0.2s;
}

button:hover {
    transform:translateY(-3px);
}

#plusBtn {
    color:white;
    background:#038d13;
    border:none;
    border-radius:6px;
    font-size:1rem;
    width:5rem;
}

#resetBtn {
    background:red;
    border:none;
    color:white;
    border-radius:6px;
    font-size:1rem;
}

#minusBtn {
    background:#0062ff;
    border:none;
    border-radius:6px;
    color:white;
    font-size:1rem;
}

p {
    background:#2d22c7;
    border-radius:6px;
    box-shadow:0 3px 6px rgba(0,0,0,0.2);
    width:10rem;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:3rem;
    padding:1rem;
    text-align:center;
    margin:3rem auto;
    font-size:2rem;
    align-items:center;
    justify-content: center;
    display:flex;
}